.content {
    color: white;
}

.contentRow {
    background-color: inherit;
    color: white;
}

.lawler {
    background-color: #4A3796;
    color: white;
    overflow: hidden;
}

.projectTitle {
    text-align: center;
    padding: 20px;
}

.lawler .about {
    vertical-align: middle;
}

.lawler .about h3{
    text-align: center;
}


.lawler img {
    width: 200px;
    height: auto;
}

.lawler .right {
    margin-left: auto;
    top: -90px;
    position: relative;
}

.contentRow {
    padding-left: 100px;
    padding-right: 100px;
}

.lawlerScreenshots .about {
    width: 400px;
    height: auto;
}

.visitWrapper {
    text-align: center;
    position: relative;
    top: -40px;
}

.btn {
    background: #3cd934;
    background-image: -webkit-linear-gradient(top, #3cd934, #17871e);
    background-image: -moz-linear-gradient(top, #3cd934, #17871e);
    background-image: -ms-linear-gradient(top, #3cd934, #17871e);
    background-image: -o-linear-gradient(top, #3cd934, #17871e);
    background-image: linear-gradient(to bottom, #3cd934, #17871e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #33b82c;
    background-image: -webkit-linear-gradient(top, #33b82c, #116915);
    background-image: -moz-linear-gradient(top, #33b82c, #116915);
    background-image: -ms-linear-gradient(top, #33b82c, #116915);
    background-image: -o-linear-gradient(top, #33b82c, #116915);
    background-image: linear-gradient(to bottom, #33b82c, #116915);
    text-decoration: none;
}

.CPU {
    background-color: #1D7A1A;
    color: white;
}

#vizHolder {
    width: 800px;
    margin: 0 auto;
    background-color: #AAAAAA;
    border-radius: 1em;
}

.logos {
    margin: 0 auto;
    width: 650px;
    position: relative;
    top: -70px;
}

.logo {
    width: 150px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.logo img{
    width: 100px;
    display: inline-block;
    text-align: center;
    transition: all 300ms ease 0s;
}

.logo:hover img{
    opacity: 0.9;
    transform: scale(1.1);
}

.logo p {
    opacity: 0;
    transition: opacity 300ms ease 0s;
}

.logo:hover p {
    opacity: 1;
}

.logo a {
    color: white;
    text-decoration: none;
}

.CPU .logos {
    position: static;
    width: 500px;
}

.CPU .logo {
    vertical-align: top;
}
